.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.habc{
    color: #ff9300;
}
.p123{
    text-align: center;
    color: #06c182;
}
.p234{
    text-align: center;
    color: darkturquoise;
}
.hcde{
    color: #d1d100;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}
.def123{
    color: #8393ef;
    text-align: center;
    font-size: 50px;
}